* {
  padding: 0px;
  margin: 0px;
}

#root {
  margin: 10px auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  border: 0px solid rgb(214, 27, 231);
}

#butDiv {
  margin: 10px auto;
  width: 960px;
  height: 30px;
}
#newGridBut {
  padding: 6px;
  margin: 9px 0px;
}

#clearBut {
  padding: 6px;
  margin: 9px 0px;
}
.divElement {
  border: 1px solid rgb(245, 245, 167);
  box-sizing: border-box;
}

.hoverClass {
  background-color: darkcyan;
}

.radioBtns {
  float: right;
}

.radioBtns input {
  margin: 15px;
}

#clrSelected {
  width: 12px;
  height: 12px;
  border: 1px solid rgb(119, 115, 115);
  display: inline-block;
}

input.chk-btn {
  display: none;
}

input.chk-btn + label {
  border: 1px solid rgb(161, 161, 161);
  background: #efefef;
  padding: 6px;
  margin: 9px 0px;
  cursor: pointer;
  display: inline-block;
}
/*input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
}*/
input.chk-btn + label:active,
input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: rgb(172, 189, 245);
}
